/* @settings
updated: 2024-04-24
name: yaozhuwa@css
id: yaozhuwa@css
settings:
    -   
        id: compact-callout
        title: 紧凑的 Callout 样式
        description: 
        type: class-toggle
        default: true
    -   
        id: highlight-active-line
        title: 高亮当前行
        description: 
        type: class-toggle
        default: false
    -  
        id: inline-code-bold
        title: 行内代码加粗
        type: class-toggle
        default: true
    -
        id: canvas-card-text-align-center
        title: canvas 文字默认居中
        type: class-toggle
        default: true
    -   
        id: blank-line-tweak
        title: Live Preview 空白行优化V3.0
        description: 参考 https://forum-zh.obsidian.md/t/topic/12515
        type: class-toggle
        default: true
    -   
        id: seamless-embed
        title: 内嵌文档自然显示
        description: 语法：![[嵌入的文档|seamless]]，来自 AnuPpuccin 主题
        type: class-toggle
        default: true
    -
        id: clutter-free-headings
        title: 编辑状态使用H1 H2 替代「#」(显示标题级别)
        title.zh: 编辑状态使用H1 H2 替代「#」(显示标题级别)
        description: 来自 blue-topaz 主题
        type: class-toggle
        default: true
    -
        id: increase-paragraph-gap
        title: 段落间距增大
        description: 来自 yaozhuwa
        type: class-toggle
        default: true
    -
        id: increase-headings-gap
        title: 标题与正文间距增大
        description: 来自 yaozhuwa
        type: class-toggle
        default: true
    -
        id: center-image
        title: 图片居中显示
        description: 来自 blue-topaz 主题 cssclass center-image
        type: class-toggle
        default: false
    -
        id: bigger-math-font
        title: 公式字体增大
        description: 来自 blue-topaz 主题
        type: class-toggle
        default: true
    -
        id: anp-file-icons
        title: 显示文件图标
        description: 来自 Anu 主题
        type: class-toggle
        default: true
    -
        id: wide-table
        title: 全宽表格
        description: cssclass wide-table
        type: class-toggle
        default: true
*/


/* 公式字体增大 */
.bigger-math-font .math.math-block mjx-container[jax='CHTML'] {
  outline: none;
  font-size: 1.2em;
}

/* headers */
/*编辑状态是否显示H1 H2标记*/
/*适配Live preview模式*/
.clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header):not(.cm-hashtag):not(.cm-inline-code):not(.cm-highlight).cm-header::before {
  font-size: 0.6rem;
  width: auto;
  margin-right: 1px;
  border-radius: var(--radius-xs);
  color: var(--text-muted);
  overflow: visible;
  font-family: var(--font-default);
  font-weight: normal !important;
}

.clutter-free-headings div.mod-cm6.is-live-preview div:not(.cm-active).cm-line .cm-header ~ span.cm-header::before,
.clutter-free-headings div.mod-cm6.is-live-preview div:not(.cm-active).cm-line .cm-header.cm-hmd-internal-link::before {
  display: none;
}

.clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-1::before {
  content: 'H1';
  margin-top: calc(var(--h1-size) - 0.1em);
}

.clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-2::before {
  content: 'H2';
  margin-top: calc(var(--h2-size) - 0.2em);
}

.clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-3::before {
  content: 'H3';
  margin-top: calc(var(--h3-size) - 0.2em);
}
.clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-4::before {
  content: 'H4';
  margin-top: calc(var(--h4-size) - 0.3em);
}

.clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-5::before {
  content: 'H5';
  margin-top: calc(var(--h5-size) - 0.4em);
}

.clutter-free-headings div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header-6::before {
  content: 'H6';
  margin-top: calc(var(--h6-size) - 0.4em);
}

/*适配source mode 模式*/
.clutter-free-headings div.mod-cm6:not(.is-live-preview) div:not(.cm-active).cm-line span:not(.cm-formatting-header).cm-header ~ span.cm-header::before
{
  display: none;
}
 .clutter-free-headings div.mod-cm6:not(.is-live-preview) div:not(.cm-active).cm-line span.cm-formatting-header {
  display:none;
}
/*适配传统模式*/
.clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line.hmd-inactive-line span.cm-formatting-header::before {
  position: absolute;
  margin-top: 10px;
  font-size: 0.7rem;
  width: auto;
  margin-left: -18px;
  padding: 0px 2px;
  border-radius: var(--radius-xs);
  color: var(--text-muted);
  overflow: visible;
  font-family: var(--font-default);
  font-weight: normal !important;
}
.clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line:not(.hmd-inactive-line) span.cm-formatting-header::before {
  position: absolute;
  margin-top: 10px;
  font-size: 0.7rem;
  width: auto;
  margin-left: -6px;
  border-radius: var(--radius-xs);
  color: var(--text-muted);
  overflow: visible;
  font-family: var(--font-default);
  font-weight: normal !important;
}

.clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header {
  color: transparent !important;
  background: none;
}

.clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-1::before {
  content: 'H1';
}
.clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-2::before {
  content: 'H2';
}
.clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-3::before {
  content: 'H3';
}
.clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-4::before {
  content: 'H4';
}
.clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-5::before {
  content: 'H5';
}
.clutter-free-headings div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header-6::before {
  content: 'H6';
}



.center-image :is(.markdown-preview-view,.markdown-rendered) img:not([class*="emoji"]) {
  margin-left: auto;
  margin-right: auto;
}

.center-image .print :is(.markdown-preview-view,.markdown-rendered) img:not([class*="emoji"]) {
  display: block;
}

.center-image .view-content img:not([class*="emoji"]) {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}


/* 紧凑的 Callout */
.compact-callout .callout-content > p:first-child,  .callout-content > ul:first-child, .callout-content > ol:first-child{
  margin-top: 0.3em;
}

.compact-callout .callout-content > p:last-child, .callout-content > ul:last-child, .callout-content > ol:last-child {
  margin-bottom: 0.3em;
}

/* 内嵌文档自然显示，来自 AnuPpuccin 主题 */
.seamless-embed .internal-embed[alt*=seamless] .markdown-preview-section{
  width: 100% !important;
}

.seamless-embed .internal-embed[alt*=seamless].markdown-embed {
  --embed-padding: 0;
  border-width: 0px;
}
.seamless-embed .internal-embed[alt*=seamless].markdown-embed > .markdown-embed-title {
  width: fit-content;
  position: absolute;
  left: unset;
  right: 33px;
  top: 5px;
  opacity: 0;
  transition: opacity 0.1s;
}
.seamless-embed .internal-embed[alt*=seamless].markdown-embed > .markdown-embed-link {
  opacity: 0;
  transition: opacity 0.1s;
}
.seamless-embed .internal-embed[alt*=seamless].markdown-embed:hover > .markdown-embed-title, .internal-embed[alt*=seamless].markdown-embed:hover > .markdown-embed-link {
  opacity: 1;
  transition: opacity 0.1s;
}

/* ================== 段落间距优化 ================ */
.increase-paragraph-gap div.cm-line:not(.HyperMD-codeblock):not(.hr):not(.HyperMD-list-line):not(.HyperMD-quote):not(div.table-cell-wrapper .cm-line) {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.increase-paragraph-gap div.HyperMD-list-line.cm-line{
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
}

.increase-paragraph-gap div.HyperMD-quote.cm-line{
    padding-top: 0.15em !important;
    padding-bottom: 0.15em !important;
}

.increase-paragraph-gap p>br {
    content: '';
    margin-top: 0.5em;
    display: block;
}

.increase-paragraph-gap .cm-line + .cm-embed-block.cm-callout, div.cm-line:not(.HyperMD-quote.HyperMD-quote-1) + .HyperMD-quote.HyperMD-quote-1.cm-line{
    margin-top: 0.3em !important;
}


/* 使相邻的代码块不粘连 */
/*.increase-paragraph-gap .is-live-preview .HyperMD-codeblock-end + .HyperMD-codeblock-begin{
    margin-top: 0.3em !important;
}*/

.increase-paragraph-gap .is-live-preview .HyperMD-codeblock-end{
    margin-bottom: 0.3em !important;
}

.increase-paragraph-gap .is-live-preview .HyperMD-codeblock-begin{
    margin-top: 0.3em !important;
}

/* 使代码块与后面的图片不粘连 */
/*.increase-paragraph-gap .is-live-preview .HyperMD-codeblock-end + .image-embed{
    margin-top: 0.4em !important;
}*/


/* =========== 预览模式空白行优化 https://forum-zh.obsidian.md/t/topic/12515 =========== */
.blank-line-tweak .is-live-preview [class="hr cm-line"] {
    line-height: 0.5em;
}

.blank-line-tweak .is-live-preview [class="cm-active cm-line"] {
    transition: 0.5s line-height;
}

/*
 * 特定空白行压缩
 * 1. 水平线前的空白行
 * 2. 引用、Callout 和列表后的空白行
 * 3. 表格前的空白行
*/
.blank-line-tweak .is-live-preview :is([class=cm-line]:has(+ :is(.hr))), 
.blank-line-tweak  .is-live-preview :is(.HyperMD-quote, .cm-callout, .HyperMD-list-line):not(.HyperMD-quote.HyperMD-callout) + [class="cm-line"],
.blank-line-tweak .is-live-preview :is([class=cm-line]:has(+ :is(.cm-table-widget))) {
    padding-top: 0em !important;
    padding-bottom: 0em !important;
    line-height: 0.3;
    transition: 0.5s line-height,0.5s background-color;
    border-radius: var(--radius-s);
}


.blank-line-tweak .is-live-preview :is([class=cm-line]:has(+ :is(.hr, .cm-table-widget))):hover, 
.blank-line-tweak .is-live-preview :is(.HyperMD-quote, .cm-callout, .HyperMD-list-line):not(.HyperMD-quote.HyperMD-callout) + [class="cm-line"]:hover {
    background-color: hsla(var(--color-accent-hsl), 0.4);
}

.blank-line-tweak .markdown-source-view.mod-cm6 .cm-table-widget {
    margin-top: -8px!important;
/*    padding-top: calc(0.5*var(--size-4-4));*/
/*    padding-bottom: calc(0.5*var(--size-4-4));*/
}

/* 表格后的行 */
.blank-line-tweak .is-live-preview .cm-embed-block.cm-table-widget.markdown-rendered + .cm-line{
    padding-top: 0em !important;
}

/* 全宽表格 */
.wide-table :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) {
/*  --table-white-space: break-all;*/
  width: 100% !important;
}
.wide-table :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) .table-editor {
  width: 100% !important;
}


/* ============== 标题间距优化 ============= */ 
.increase-headings-gap div.HyperMD-header.cm-line{
    padding-top: 0.5em !important;
    padding-bottom: 0.2em !important;
    margin-bottom: 0.3em !important;
}

/* canvas card 文字居中 */
.canvas-card-text-align-center .canvas-node-container .canvas-node-content.markdown-embed:not(.is-loaded) {
  text-align: center;
}

/*bold code text except code language*/
.inline-code-bold :not(pre)>code:not([class*='language-']) {
  font-weight: bold;
  font-size: 0.9em !important;
  padding: 2px 3px 1px;
}

.inline-code-bold .cm-s-obsidian span.cm-inline-code {
  padding: 2px 0 1px;
/*  color: var(--text-color-code);*/
  font-weight: bold;
  font-size: 0.9em !important;
}


/* ================================ 下面是默认功能 =================================== */
/* enhance title select 更容易选中文件名*/
.workspace-leaf.mod-active .view-header-title:after {
  content: " ";
  width: 100%;
  height: 1em;
  position: absolute;
}

/* dataview inline key 和 value 的美化，来自 Obsidian Nord 主题 */
.theme-dark{
    --dataview-key: rgb(216,222,233);
    --dataview-key-background: rgba(129,161,193, 0.3);
    --dataview-value-background: rgba(191,97,106, 0.3);
}
.theme-light{
    --dataview-key: rgb(46,52,64);
    --dataview-key-background: rgba(129,161,193, 0.3);
    --dataview-value-background: rgba(191,97,106, 0.3);
}

.dataview.inline-field-key {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 4px;
    font-family: var(--font-monospace);
    font-size: var(--font-smaller);
    color: var(--dataview-key) !important;
    background-color: var(--dataview-key-background) !important;
}

.dataview.inline-field-value {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 4px;
    font-family: var(--font-monospace);
    font-size: var(--font-smaller);
    color: var(--dataview-key) !important;
    background-color: var(--dataview-value-background) !important;
}


.highlight-active-line .cm-active.cm-line {
    background-color: hsla(207, 77%, 54%, 0.05) !important;
}

/* quote 引用块的背景色设置 */
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote, .markdown-rendered blockquote {
    background-color: #d5d5d52b;
}


/* 修复 embed-callout 引用块后续空白的缺失 */
.internal-embed.markdown-embed.inline-embed.is-loaded .callout, .dataview-widget-content.node-insert-event .callout{
  margin-bottom: 0.6em;
}